{% extends 'base.html' %}

{% block content %}
    <h2>{% if form.instance.pk %}Редактирование проекта{% else %}Создание проекта{% endif %}</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}