{% extends 'base.html' %}

{% block content %}
    <h2>Проекты</h2>
    <a href="{% url 'projects:project_create' %}" class="btn btn-primary">Создать проект</a>
    <ul class="list-group mt-3">
        {% for project in projects %}
            <li class="list-group-item">
                <a href="{% url 'projects:project_detail' project.pk %}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% include 'partials/pagination.html' %}
{% endblock %}
    