{% extends 'base.html' %}

{% block content %}
    <h2>Удаление проекта "{{ object.name }}"</h2>
    <p>Вы уверены, что хотите удалить этот проект?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'projects:project_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}
