{% extends 'base.html' %}

{% block content %}
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <p>Created at: {{ project.created_at }}</p>
    <h3>Задачи проекта</h3>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'todo:task-detail' task.pk %}">{{ task.title }}- {{ task.status }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'projects:project_update' project.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'projects:project_delete' project.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}
