{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
