{% extends 'base.html' %}

{% block content %}
    <h2>Create Your Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Profile</button>
    </form>
{% endblock %}