{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="{% url 'accounts:change_password' %}" class="btn btn-secondary">Change Password</a>
</div>
{% endblock %}
