{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h5 class="card-title"> {{ task.title }}</h5>
    <p><strong>Title:</strong> {{ task.description }}</p>
    <p><strong>Status:</strong> {{ task.status }}</p>
    <p><strong>Creation date:</strong> {{ task.created_at }}</p>    
    <a href="{% url 'todo:task-update' pk=task.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'todo:task-delete' pk=task.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'todo:task-list' %}" class="btn btn-secondary">Back to list</a>
</div>
{% endblock %}