{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать на Todoist</title>
    <style>
        img {
            max-width: 90%;
            height: auto;
        }
    </style>
</head>
<body>
 <img src="https://cdn-aicin.nitrocdn.com/HIAjYmsdLpRQdKpIMJLXFmZsSAYnEnkl/assets/images/optimized/rev-57f6fb0/www.amitree.com/wp-content/uploads/2021/08/the-pros-and-cons-of-paper-to-do-lists.jpeg" alt="To Do List"> 
</body>
</html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <div class="container">
        <h1>WELCOME to our Todo List app!</h1>
     </div>
</head>
{% endblock %}